// src/css/quasar.variables.scss

$primary   : #008cff;
$secondary : #ffc626;
$accent    : #f7164f;

$dark      : #100516;
$dark-page : #081230;

$positive  : #5ef257;
$negative  : #960818;
$info      : #aa50e6;
$warning   : #ff0000;
